@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400;500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

:root{
  --blue: #f7f7f7;
  --blue2: #45A29E;
  --black: #0B0C10;
  --gray: #1F2833;
  --lightgray: #C5C6C7;
  --yellow: #C19434;
  --white: #F1F1EF;
  --greenblue: #379683;
  --green: #34421E;
  --greenwhite: #8EE4AF;
  --purple: rgba(235, 25, 110, 1);
}

* {
  box-sizing: border-box;
}

body {
  background-color: #202529;
  font-family: 'Baloo Paaji 2', cursive;
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(185, 185, 185); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #888; 
}


.cards{
  margin: auto;
  text-align: center;
}

.Header{
  text-align: center;
  font-size: 100px;
}

h3 {
  margin: 10px 0;
  font-family: 'Baloo Paaji 2', cursive;
}

h6 {
  margin: 5px 0;
  text-transform: uppercase;
  /* font-family: Montserrat, sans-serif; */
  font-family: 'Baloo Paaji 2', cursive;
}

p {
  font-size: 18px;
  line-height: 21px;
  font-family: 'Baloo Paaji 2', cursive;
}
.card-container {
  background-color: #222831ec;
  border-radius: 7px;
  box-shadow: 0px 20px 20px -10px rgba(0, 0, 0, 0.75);
  color: var(--lightgray);
  padding-top: 30px;
  width: 400px;
  max-width: 100%;
  margin: 5% 2.5% 0 2.5%;
  text-align: center;
  align-items: center;
  display: inline-block;
}


.card-container .round {
  border: 5px solid #55d7dc;
  border-radius: 50%;
  width: 180px;
  height: 180px;
  box-shadow: 0 5px 25px rgb(124, 124, 124),0 -5px 25px rgb(124, 124, 124);
  /* background: linear-gradient(0deg, #000, #262626 ); */
}

button.profile {
  cursor: pointer;
  background-color: #55d7dc;
  border: 4px solid #55d7dc;
  border-radius: 3px;
  color: black;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  padding: 10px 25px;
  transition: all 0.1s ease-in;
}

button.profile:hover{
  background-color: transparent;
  border-color:whitesmoke ;
  color: var(--white);
  transition: all 0.1s ease-in;
}

.skills {
  background-color: #1c2229 ;
  /* text-align: left; */
  /* color: rgb(46, 46, 46); */
  color: var(--white);
  padding: 2px;
  margin-top: 30px;
  border-radius: 7px;
}

.skills h6{
  border-bottom: 1px solid white;
  margin: 2% 30%;
}

.skills div {
  margin: 0;
  padding: 2px;
  align-items: center;
  justify-content: space-between;
}

.skills div a {
  font-size: 50px;
  padding: 7px;
  /* margin: 0 10% 0 10%; */
  margin-left: 7%;
  margin-right: 7%;
}


.skills div a svg{
  font-size: 40px;
}



.fontBN{
  /* font-family: 'Bebas Neue', cursive; */
  font-family: 'Overpass', sans-serif;
}


#opacity{
  display:none;
  /* filter:blur(200px); */
}